

/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;

}

h2, h3, h4,{
}

a {
  color: seashell;
  padding-right: 20px;
}

/* Header */

header {
  display: flex;
justify-content: center;
align-items: center;
height: 79px;
background-color: black;
border-bottom: 1px solid white;
width: 100%;
position: fixed;
}

.logo {
  height: 50px;
  margin-left: 10px;
  display: flex;
  flex: 1;
}

header span {
  text-decoration: underline;
}


/* Main content */

.main-section {
  padding-top: 79px;
 height: 700px;
 width: 1200px;
 margin: 0 auto;
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: center;

  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.main-section h2 {
  display: block;
background-color: black;
text-align: center;
margin: 0px;
padding: 20px 0px;
}
.main-section h4 {
  display: block;
  background-color: black;
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
}

/* Product section */

.product-section {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-section img {
  height: 200px;
  width: 300px;
  margin: 10px 10px;
}

.product-section h4 {
  text-align: center;
  margin: 10px;
}

.product-section h2 {
  margin: 50px 0 15px 0;
}

/* Location section */


.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  margin: 50px auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);

}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 300px;
  border: 1px solid white;
  margin: 0 20px;
  background-color: black;

}

.location-container h2 {
  margin: 0 0 30px 0;
}

.location span {
  display: flex;
  justify-content: center;
  padding: 1px 10px;
}

.location-name {
  font-weight: 900;
}


/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  margin: 50px 0 0 20px;
  align-self: flex-start;

}
